<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- 여기에 필요한 스타일이나 스크립트를 추가하세요 -->
</head>

<body>
<div layout:fragment="content">

    <div class="product-info">
        <div class="avatar">
            <div class="rounded overflow-hidden">
                <img th:src="${product.image}" class="w-80 h-96 object-cover" />
            </div>
        </div>
        <div class="product-details">
            <h2>제품명:
                <span style="font-weight: bold; font-size: 12pt" th:text="${product.name}" ></span></h2>
            <p>가격: <span style="font-weight: bold; font-size: 12pt" th:text="${product.price}"></span> 원</p>
        </div>
    </div>

    <form th:action="@{|/qna/${productId}|}" th:object="${qnaDto}" method="post">
        <h3>사이즈
            <span style="margin-left: 0.4rem; font-size: var(--fs-p1); color: var(--danger);">*</span>
        </h3>
        <div class="join">
            <button class="join-item btn">작아요</button>
            <button class="join-item btn btn-active">적당해요</button>
            <button class="join-item btn">커요</button>
        </div>

        <h3>문의 유형
            <span style="margin-left: 0.4rem; font-size: var(--fs-p1); color: var(--danger);">*</span>
        </h3>
        <!-- 문의 유형 라디오 버튼 추가 -->
        <label for="radio-1">
            <input type="radio" id="radio-1" name="inquireType" class="radio" value="size" checked/>
            <span style="font-weight : bold ; font-size: 10pt">사이즈</span>
        </label>
        <label for="radio-2">
            <input type="radio" id="radio-2" name="inquireType" class="radio" value="deliver" checked/>
            <span style="font-weight : bold ; font-size: 10pt">배송</span>
        </label>
        <label for="radio-3">
            <input type="radio" id="radio-3" name="inquireType" class="radio" value="restock" checked/>
            <span style="font-weight : bold ; font-size: 10pt">재입고</span>
        </label>
        <label for="radio-4">
            <input type="radio" id="radio-4" name="inquireType" class="radio" value="detailed-inquiry" checked/>
            <span style="font-weight : bold ; font-size: 10pt">상품상세문의</span>
        </label>
        <!-- 다른 문의 유형 라디오 버튼들도 추가 -->

        <h3>문의 내용
            <span style="margin-left: 0.4rem; font-size: var(--fs-p1); color: var(--danger);">*</span>
        </h3>
        <div>
            <input name="inquireContent" type="text" id="content" th:field="${qnaDto.content}"
                   style="width: 350px; height: 30px; font-size: 13px; border:1px solid gray;" placeholder="문의 내용을 입력해주세요." />
            <input type="submit" value="Submit">
            <p th:if="${#fields.hasErrors('content')}" th:errors="${qnaDto.content}" class="fieldError"
               style="font-size: 17px; color: red; font-weight: bold;">Incorrect data</p>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <h4 class="label-text">
                    <span>비밀 글🔑</span>
                    <input type="checkbox" th:field="${qnaDto.secret}" th:checked="${qnaDto.secret}" class="checkbox" />
                </h4>
            </label>
        </div>
    </form>
</div>
</body>

<div layout:fragment="script">
    <script th:inline="javascript">
        // 필요한 스크립트가 있다면 추가하세요
    </script>
</div>

</html>