<div th:fragment="cateGoryFragment">
    <div class="contents-left">
        <div class="contents-filter-body">
            <div class="accordset accordset-plus">
                <!--상의-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">상의
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 반소매 티셔츠</span>
                            </div>
                            <div>
                                <span>- 긴소매 티셔츠</span>
                            </div>
                            <div>
                                <span>- 맨투맨</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--하의-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">하의
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 반바지</span>
                            </div>
                            <div>
                                <span>- 긴바지</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--아우터-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">아우터
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 패딩</span>
                            </div>
                            <div>
                                <span>- 코트</span>
                            </div>
                            <div>
                                <span>- 기타</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--원피스-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">원피스
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 미니원피스</span>
                            </div>
                            <div>
                                <span>- 미디원피스</span>
                            </div>
                            <div>
                                <span>- 맥스원피스</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--신발-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">신발
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 스니커즈</span>
                            </div>
                            <div>
                                <span>- 구두</span>
                            </div>
                            <div>
                                <span>- 슬리퍼</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--가방-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">가방
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span>- 캐주얼</span>
                            </div>
                            <div>
                                <span>- 스포츠</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>