<div th:fragment="cateGoryFragment">
    <div class="contents-left">
        <div class="contents-filter-body">
            <div class="accordset accordset-plus" style="cursor: pointer;">
                <!--상의-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">상의
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(1, 1)|">- 반소매 티셔츠</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(1, 2)|">- 긴소매 티셔츠</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(1, 3)|">- 맨투맨</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--하의-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">하의
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(2, 4)|">- 반바지</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(2, 5)|">- 긴바지</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--아우터-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">아우터
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(3, 6)|">- 패딩</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(3, 7)|">- 코트</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(3, 8)|">- 기타</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--원피스-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">원피스
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(5, 12)|">- 미니원피스</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(5, 13)|">- 미디원피스</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(5, 14)|">- 맥스원피스</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--신발-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">신발
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(4, 9)|">- 스니커즈</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(4, 10)|">- 구두</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(4, 11)|">- 슬리퍼</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--가방-->
                <div class="accordset-item">
                    <div class="accordset-header">
                        <button class="accordset-button btn" type="button" style="font-size: 30px;">가방
                        </button>
                    </div>
                    <div class="accordset-body">
                        <div class="accordset-content">
                            <div>
                                <span th:onclick="|redirectToCategory(6, 15)|">- 캐주얼</span>
                            </div>
                            <div>
                                <span th:onclick="|redirectToCategory(6, 16)|">- 스포츠</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            function redirectToCategory(mainCategory, subCategory) {
                var categoryUrl = '/products/' + mainCategory + '/' + subCategory;  // 원하는 URL로 변경
                window.location.href = categoryUrl;
            }
        </script>
    </div>
</div>