<!DOCTYPE html>
<html lang="ko">

<head>
  <script th:inline="javascript">
    const token = /*[[${_csrf.token}]]*/ '';

    console.log(token)
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>비밀번호 찾기 | trend</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
<!-- [S]personal-KilRRk9Pzv -->
<div class="personal-KilRRk9Pzv" id="" data-bid="lkLrrkcY8u">
  <div class="header-inner">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="/api/download/f74ed9655e104f7a9be2bb301805a630" alt="로고">
          </a>
        </h1>
        <div class="header-mobile-group">
          <div class="header-mobile-top">
            <p>로그인이 필요합니다.</p>
            <a href="javascript:void(0)">로그인</a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem item-active">
              <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                <span>PRODUCTS</span>
              </button>
            </li>
            <li class="header-gnbitem">
              <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                <span>COMMUNITY</span>
              </button>
            </li>
            <li class="header-gnbitem">
              <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                <span>Q&amp;A</span>
              </button>
            </li>
            <li class="header-gnbitem">
              <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                <span>MEMBERSHIP</span>
              </button>
            </li>
          </ul>
          <button class="header-btn btn-close">
            <img src="../resources/icons/ico_close_white.svg" alt="닫기 아이콘">
          </button>
        </div>
      </div>
      <div class="inputset inputset-lg">
        <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
        <input type="text" class="inputset-input form-control" style="height:35px; border:1px solid gray;"
               placeholder="검색어를 입력해주세요." aria-label="내용">
      </div>
      <div class="header-right">
        <div class="header-utils">
          <button class="header-btn btn-cart badgeset badgeset-circle badgeset-position badgeset-bottom-right">
            <img src="../resources/icons/ico_cart_black.svg" alt="쇼핑백 아이콘">
            <span class="badgeset-text">1</span>
          </button>
          <a href="javascipt:void(0);" class="header-btn btn-user">
            <img src="../resources/icons/ico_user_black.svg" alt="유저 아이콘">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-dim"></div>
</div>
<!-- [E]personal-KilRRk9Pzv -->
<!-- [S]personal-QxLRRa9Yn3 -->
<div class="personal-QxLRRa9Yn3" id="" data-bid="kQlrrHAkTi">
  <div class="header-dim"></div>
</div>
<!-- [E]personal-QxLRRa9Yn3 -->
<!-- [S]blank-UilRrhceuO -->
<div class="blank-UilRrhceuO" data-bid="UilRrhceuO">
  <div class="container"></div>
</div>
<!-- [E]blank-UilRrhceuO -->
<!-- [S]personal-jglrrGe28m -->
<div class="personal-jglrrGe28m" id="" data-bid="ZTLRRHAtyv">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <div style="display:flex; justify-content: center; margin-bottom: 60px;">
    <h1 style="font-weight: bold; text-decoration-line: underline; ">계정찾기</h1>
  </div>
</div>
<!-- [E]personal-jglrrGe28m -->
<main class="th-layout-main ">
  <!-- [S]personal-tiLrRHbrZ1 -->
  <div class="personal-tiLrRHbrZ1" id="" data-bid="mjlRRhc7zO">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <div class="contents-inner">
      <div class="agree-box">
        <div class="contents-agree-box-1">
          <div class="contents-agree-all">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display:flex; justify-content:center;">
    <div style="width:350px; font-size: 14px;  display: flex; justify-content: space-around; padding-bottom: 10px;">
      <div style="color:gray; border-bottom: 2px solid gray; height: 40px; display:flex; align-items: center;">
        <a style="width: 175px; text-align: center;" th:href="@{/members/findLoginId}">아이디 찾기 </a>
      </div>
      <div style="background-color: black; height: 40px; display:flex; align-items: center;">
        <a style="width: 175px; text-align: center; color: white; " th:href="@{/members/findLoginPw}">비밀번호
          찾기</a>
      </div>
    </div>
  </div>
  <form onsubmit="signup(this); return false;"
        style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">

    <div style="margin-bottom: 15px;">
      <label for="loginId"
             style="margin-bottom: 5px; position: relative; display: flex; align-items: center; margin-bottom: 5px;">아이디</label>
      <input type="text" id="loginId" class="input"
             style="width: 350px; height: 30px; font-size: 13px; border: 1px solid black; padding: 5px;">
    </div>

    <div style="margin-bottom: 15px;">
      <label for="email"
             style="position: relative; display: flex; align-items: center; margin-bottom: 5px;">이메일</label>
      <input type="text" id="email" class="input"
             style="width: 350px; height: 30px; font-size: 13px; border: 1px solid black; padding: 5px;">
      <!--<button class="num_btn btn btn-outline-black" onclick="confirmVerification()" style="height: 25px; font-size: 14px; margin-left: 10px;">인증번호 전송</button>-->

    </div>

    <p th:if="${findPwErrorMessage}" class="error" th:text="${findPwErrorMessage}"
       style="color: red; margin-bottom: 10px;"></p>

    <button type="submit"
            style="width: 200px; height:45px; border-radius: 20px; background-color: white; color: black; font-size: 15px; margin-top: 20px;"
            id="submit">임시 비밀번호 발급
    </button>

  </form>
  <!-- [E]personal-tiLrRHbrZ1 -->
  <!-- [S]blank-xDlrrHDY99 -->
  <div class="blank-xDlrrHDY99" data-bid="xDlrrHDY99">
    <div class="container"></div>
  </div>
  <!-- [E]blank-xDlrrHDY99 -->
</main>
<!-- [S]personal-EVLRpX3oSe -->
<div class="personal-EVLRpX3oSe" id="" data-bid="eGlRrhAn21">
  <div class="footer-container container-lg">
    <div class="footer-top">
      <h1 class="footer-logo">
        <a href="javascript:void(0)">
          <img src="/api/download/158572bda3ff41db9e6b517e9ffb7d7b" alt="">
        </a>
      </h1>
      <ul class="footer-menulist">
        <li class="footer-menuitem">
          <a href="javascript:void(0)">
            <span>이용약관</span>
          </a>
        </li>
        <li class="footer-menuitem">
          <a href="javascript:void(0)">
            <span>개인정보처리방침</span>
          </a>
        </li>
        <li class="footer-menuitem">
          <a href="javascript:void(0)">
            <span>푸터메뉴1</span>
          </a>
        </li>
        <li class="footer-menuitem">
          <a href="javascript:void(0)">
            <span>푸터메뉴2</span>
          </a>
        </li>
      </ul>
      <ul class="footer-snslist">
        <li class="footer-snsitem">
          <a class="footer-snslink" href="javascript:void(0)">
            <img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
          </a>
        </li>
        <li class="footer-snsitem">
          <a class="footer-snslink" href="javascript:void(0)">
            <img src="../resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
          </a>
        </li>
        <li class="footer-snsitem">
          <a class="footer-snslink" href="javascript:void(0)">
            <img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
          </a>
        </li>
        <li class="footer-snsitem">
          <a class="footer-snslink" href="javascript:void(0)">
            <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <div class="footer-txt">
        <p> 서울시 영등포구 선유로70 우리벤처</p>
        <p>
          <span>T. 070-8872-8874</span>
          <span>E. help@openfield.co.kr</span>
        </p>
      </div>
      <div class="footer-txt">
        <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
      </div>
    </div>
  </div>
</div>
<!-- [E]personal-EVLRpX3oSe -->
<script src="../resources/js/setting.js"></script>
<script src="../resources/js/plugin.js"></script>
<script src="../resources/js/template.js"></script>
<script src="../resources/js/common.js"></script>
<script src="../resources/js/script.js"></script>

<script>
  const COMMON_URL = 'http://localhost:8080';

  function signup(form) {
    console.log('findpw 진입')
    // 유효성 검사
    fetch(`${COMMON_URL}/members/findLoginPw`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': token,
      },
      body: JSON.stringify({
        loginId: form.loginId.value,
        email: form.email.value,
      }),
    }).then(response => {
      console.log(response)

      if (!response.ok) {
        // 실패시 동작할것들
        alert("존재하지 않는 이메일입니다.")
        return
      }

      // 성공시 동작해야되는것들
      alert("전송완료")
    })
  }
</script>
</body>