<html layout:decorate="layouts/layout">
<div layout:fragment="content">
    <div style="display:flex; flex-direction: column; align-items:center; margin-top: 50px;">
        <th:block th:replace="~{fragments/myPage :: myPageFragment}"></th:block>
        <div style="margin-top: 60px;">
            <div style="display: flex; align-items:center; font-size: 15px; margin-bottom: 5px;">
                <img style="width: 20px; height: 15px; margin-right: 3px;" th:src="@{/images/exp.png}"> 배송목록
            </div>
            <table class="table" style="width: 900px; margin-bottom: 50px;">
                <thead style="border-top: 1px solid black; border-bottom: 1px solid black; font-size: 16px;">
                <tr style="text-align: center;">
                    <th style="width: 25%;" colspan="2">상품정보</th>
                    <th style="width: 15%;">주문일자</th>
                    <th style="width: 15%;">주문번호</th>
                    <th style="width: 15%;">주문금액</th>
                    <th style="width: 15%;" colspan="2">주문상태</th>
                    <th style="width: 15%;">후기작성</th>
                </tr>
                </thead>

                <tbody style="font-size: 13px; line-height: 50px;" th:each="order : ${orders}">
                <tr style="text-align: center;">
                    <td style="width: 25%;" colspan="2">
                        <div style="display: flex; justify-content: center;">
                            <img style="width: 45px; height: 45px;" th:src="${order.productImage}" alt="Product Image">
                            <div style="display: flex; flex-direction: column;">
                                <div style="margin-left: 10px; height: 25px; display: flex; flex-direction:column; justify-content: center;">
                                    <span th:text="${order.productName}">상품명</span>
                                </div>
                                <div style="margin-left: 10px; height: 25px; display: flex; flex-direction:column; justify-content: center;">
                                    <span th:text="${order.productOption}">상품옵션</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${order.date}">주문일자</div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${order.ordersId}">주문번호</div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${order.price}">주문금액</div>
                    </td>
                    <td style="width: 15%;" colspan="2">
                        <div>
                            <span th:text="${order.status}">주문상태</span>
                            <button class="btn btn-outline-danger" style="margin-left: 20px; font-size: 13px;">반품</button>
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <button class="btn btn-primary" style="margin-left: 20px; font-size: 13px;">후기작성</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="pagiset pagiset-line">
                <div class="pagiset-ctrl">
                    <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                        <span class="visually-hidden">처음</span>
                    </a>
                </div>
                <div class="pagiset-ctrl">
                    <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                        <span class="visually-hidden">이전</span>
                    </a>
                </div>
                <div class="pagiset-list">
                    <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
                    <a class="pagiset-link" href="javascript:void(0)">2</a>
                    <a class="pagiset-link" href="javascript:void(0)">3</a>
                    <a class="pagiset-link" href="javascript:void(0)">4</a>
                    <a class="pagiset-link" href="javascript:void(0)">5</a>
                </div>
                <div class="pagiset-ctrl">
                    <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                        <span class="visually-hidden">다음</span>
                    </a>
                </div>
                <div class="pagiset-ctrl">
                    <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                        <span class="visually-hidden">마지막</span>
                    </a>
                </div>
            </nav>
            <div>
                <span>-</span>
            </div>
        </div>
    </div>
</div>
</html>