<html layout:decorate="layouts/layout">
<div layout:fragment="content">
    <div style="display:flex; flex-direction: column; align-items:center; margin-top: 50px;">
        <th:block th:replace="~{fragments/myPage :: myPageFragment}"></th:block>

        <div style="margin-top: 60px;">
            <div style="display: flex; align-items:center; font-size: 30px; margin-bottom: 5px;">
                <img style="width: 40px; height: 30px; margin-right: 3px;" th:src="@{/images/exp.png}"> 배송목록
            </div>
            <table class="table" style="width: 1500px; margin-bottom: 50px;">
                <thead style="border-top: 1px solid black; border-bottom: 1px solid black; font-size: 20px;">
                <tr style="text-align: center;">
                    <th style="width: 25%;" colspan="2">상품정보</th>
                    <th style="width: 15%;">주문일자</th>
                    <th style="width: 15%;">주문번호</th>
                    <th style="width: 15%;">주문금액</th>
                    <th style="width: 15%;" colspan="2">주문상태</th>
                    <th style="width: 15%;">후기작성</th>
                </tr>
                </thead>

                <tbody style="font-size: 16px; line-height: 50px;">
                <tr th:each="order : ${orders}" style="text-align: center;">
                    <td style="width: 25%;" colspan="2">
                        <div style="display: flex; justify-content: center;">
                            <img style="width: 60px; height: 60px;" th:src="${order.productImage}">
                            <div style="flex-grow:1; display: flex; flex-direction: column;">
                                <div style="margin-left: 10px; height: 25px; display: flex; flex-direction:column; justify-content: center;">
<!--                                    <span th:text="${order.orderName}">상품명</span>-->
                                    <span th:text="${order.orderName.length() > 21 ? order.orderName.substring(0, 21) + '...' : order.orderName}">상품명</span>
                                </div>
                                <div style="margin-left: 10px; height: 25px; display: flex; flex-direction:column; justify-content: center;">
                                    <span th:text="${order.orderProductOption}">상품옵션</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${order.orderCreateAt}">주문일자</div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${order.ordersId}">주문번호</div>
                    </td>
                    <td style="width: 15%;">
                        <div th:text="${#numbers.formatDecimal(order.sumOrderPrice, 0, 'COMMA', 0, 'POINT')}">주문금액</div>
<!--                        <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>-->
                    </td>
                    <td style="width: 15%;" colspan="2">
                        <div>
                            <span th:text="${order.payStatus}">주문상태</span>
                            <a th:href="|/order/${order.ordersId}|" style="margin-left: 20px; font-size: 13px;" class="btn btn-outline-danger">자세히 보기</a>
                        </div>

                    </td>
                    <td style="width: 15%;">
                        <button class="btn btn-primary" style="font-size: 13px;">후기작성 </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 350px;"></div>
</div>
</html>