<html layout:decorate="layouts/layout">
<div layout:fragment="content">
    <div style="display:flex; flex-direction: column; align-items:center; margin-top: 50px;">
        <th:block th:replace="~{fragments/myPage :: myPageFragment}"></th:block>
        <div style="margin-top: 60px; width: 800px;">
            <div style="display: flex; align-items:center; font-size: 15px;">
                <img style="width: 20px; height: 20px; margin-right: 3px;" th:src="@{/images/좋아요.png}">좋아요
            </div>
            <div class="row row-cols-1 row-cols-md-5" style="margin-bottom: 50px; margin-top: 5px;">
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card">
                        <img style="height: 200px;" th:src="@{/images/로고이미지.png}">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 20px; font-weight: bold;">상품명</p>
                            <p class="card-text" style="font-size: 15px; font-weight: bold;">가격</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</html>