<html layout:decorate="layouts/layout">
<div layout:fragment="content">
    <th:block th:fragment="custom-css">
        <style>
            .pagiset-link.current-page {
                color: red;
            }

            .non-clicked {
                pointer-events: none;
            }
        </style>
    </th:block>
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div class="contents-container container-md">
            <div class="textset">
                <h2 class="textset-tit" style="text-align: center;">Best coordi</h2>
            </div>
        </div>
        <div class="basic-N45" data-bid="aGLrPw1vOT">
            <div style="height: 500px;" class="contents-container container-md">
                <img style="width: 1320px; height: 500px;" th:src="@{/images/coordi_bg.png}">
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 10px;">
            <div style="width:1300px; display: flex; justify-content: end; align-items: center;">
                <button onclick="window.location.href='/coordi/write'"
                        style="width:150px; height:auto; display:flex; align-items:center; justify-content:space-evenly; border: 2px solid black; border-radius: 10px;">
                    <img style="width: 20px; height: 20px;" th:src="@{/images/camera.png}"></img>
                    <div style="font-size:24px;">코디등록</div>
                </button>
            </div>
        </div>
        <div style="display:flex; justify-content: center; margin-bottom: 20px;">
            <div style="display: flex; flex-wrap: wrap;  width: 1300px; height: auto;">
                <figure th:each="coordi, loop : ${paging}"
                        style="width: 280px; height: 400px; margin: 0 22px 30px 22px;"
                        class="cardset-figure">
                    <a th:href="@{'/coordi/' + ${coordi.coordiId}}" class="cardset">
                        <img style="width: 280px; height: 350px;" class="cardset-img"
                             th:src="${coordi.image}">
                    </a>
                    <div class="cardset-body"
                         style="display: flex; justify-content: space-between; align-items: center; margin-top: 2px;">
                        <div class="left-section" style="display: flex; align-items: center;">
                            <div class="profile-image"
                                 style="border-radius: 50%; overflow: hidden; border: 1px solid #cecdcd; width: 34px; height: 34px;">
                                <img th:src="@{${coordi.profile}}" alt="Profile Image"
                                     style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <div style="margin-left: 10px;">
                                <span class="cardset-name" th:text="${coordi.nickname}"></span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div class="cardset-actions"
                                 th:attr="data-heart=${coordi.coordiId}"
                                 onclick="toggleLikeCoordi(this)">
                                <img th:if="${coordi.liked}" src="../images/like.png"
                                     width="34" height="34"/>
                                <img th:unless="${coordi.liked}" src="../images/unlike.png"
                                     width="34" height="34"/>
                            </div>
                            <span th:text="${coordi.totalLike}"></span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <nav style="margin-bottom: 50px;" th:if="${!paging.isEmpty()}" class="pagiset pagiset-line"
             th:with="
                              pageNumber = ${paging.pageable.pageNumber},
                              pageSize = ${paging.pageable.pageSize},
                              totalPages = ${paging.totalPages},
                              startPage = ${((currentPage - 1) / 5 * 5) + 1},
                              tempEndPage = ${startPage + 4},
                              endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
        >
            <div th:class="${paging.first} ? 'non-clicked' : 'pagiset-ctrl' ">
                <a class="pagiset-link pagiset-first" href="javascript:void(0)"
                   th:href="@{|?page=1|}"
                >
                    <span class="visually-hidden">처음</span>
                </a>
            </div>
            <div th:class="${paging.first} ? 'non-clicked' : 'pagiset-ctrl' ">
                <a class="pagiset-link pagiset-prev" href="javascript:void(0)"
                   th:href="@{|?page=${(currentPage) - 1}|}"
                >
                    <span class="visually-hidden">이전</span>
                </a>
            </div>
            <div id="pagination" class="pagiset-list">
                <!-- Iterate over page numbers and create links, showing 5 pages at a time -->
                <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <a class="pagiset-link"
                       th:text="${page}"
                       th:href="@{|?page=${(page)}|}"
                       th:classappend="${page == currentPage} ? 'current-page' : ''"></a>
                </th:block>
            </div>

            <div th:class="${!paging.last} ? 'pagiset-ctrl' : 'non-clicked'">
                <a class="pagiset-link pagiset-next" href="javascript:void(0)"
                   th:href="@{|?page=${(currentPage)+1}|}">
                    <span class="visually-hidden">다음</span>
                </a>
            </div>
            <div th:class="${paging.last} ? 'non-clicked' : 'pagiset-ctrl' ">
                <a class="pagiset-link pagiset-last" href="javascript:void(0)"
                   th:href="@{|?page=${(paging.totalPages)}|}"
                >
                    <span class="visually-hidden">마지막</span>
                </a>
            </div>
        </nav>
    </div>

</div>
<div layout:fragment="script">
    <script th:inline="javascript">
        function toggleLike(element) {
            var csrfToken = [[${_csrf.token}]];
            var heartContainer = element;
            var productId = heartContainer.getAttribute('data-heart');
            var currentState = heartContainer.getAttribute('data-liked');
            var newState = currentState === 'true' ? 'false' : 'true';
            // UI 갱신

            // 변경된 상태를 서버로 전송
            fetch('/api/products/liked', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken,
                },
                body: JSON.stringify({
                    productId: parseInt(productId),
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data === true) {
                        heartContainer.innerHTML = '<img src="../images/like.png" width="34" height="34"/>';
                        var likeCount = parseInt(heartContainer.nextElementSibling.innerText);
                        heartContainer.nextElementSibling.innerText = likeCount + 1;
                        heartContainer.setAttribute('data-liked', !newState);
                    } else if (data === false) {
                        heartContainer.innerHTML = '<img src="../images/unlike.png" width="34" height="34"/>';
                        var likeCount = parseInt(heartContainer.nextElementSibling.innerText);
                        heartContainer.nextElementSibling.innerText = likeCount - 1;
                        heartContainer.setAttribute('data-liked', !newState);
                    } else {
                        if (confirm('로그인이 필요한 서비스입니다. 로그인페이지로 이동하시겠습니까?')) {
                            window.location.href = '/members/login';
                        }
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function toggleLikeCoordi(element) {
            var csrfToken = [[${_csrf.token}]];
            var heartContainer = element;
            var coordiId = heartContainer.getAttribute('data-heart');
            var currentState = heartContainer.getAttribute('data-liked');
            var newState = currentState === 'true' ? 'false' : 'true';
            // UI 갱신

            // 변경된 상태를 서버로 전송
            fetch('/api/coordi/liked', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken,
                },
                body: JSON.stringify({
                    coordiId: parseInt(coordiId),
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data === true) {
                        heartContainer.innerHTML = '<img src="../images/like.png" width="34" height="34"/>';
                        var likeCount = parseInt(heartContainer.nextElementSibling.innerText);
                        heartContainer.nextElementSibling.innerText = likeCount + 1;
                        heartContainer.setAttribute('data-liked', !newState);
                    } else if (data === false) {
                        heartContainer.innerHTML = '<img src="../images/unlike.png" width="34" height="34"/>';
                        var likeCount = parseInt(heartContainer.nextElementSibling.innerText);
                        heartContainer.nextElementSibling.innerText = likeCount - 1;
                        heartContainer.setAttribute('data-liked', !newState);
                    } else {
                        if (confirm('로그인이 필요한 서비스입니다. 로그인페이지로 이동하시겠습니까?')) {
                            window.location.href = '/members/login';
                        }
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</div>
</html>