<html layout:decorate="layouts/layout">
<div layout:fragment="content">
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div class="contents-container container-md">
            <div class="textset">
                <h2 class="textset-tit" style="text-align: center;">Best coordi</h2>
            </div>
        </div>
        <div class="basic-N45" data-bid="aGLrPw1vOT">
            <div style="height: 500px;" class="contents-container container-md">
                <img style="width: 1320px; height: 500px;" th:src="@{/images/코디배경.png}">
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 10px;">
            <div style="width:1300px; display: flex; justify-content: end; align-items: center;">
                <button onclick="window.location.href='/coordi/write'"
                        style="width:200px; height:auto; display:flex; align-items:center; justify-content:space-evenly; border: 2px solid black; border-radius: 10px;">
                    <img style="width: 30px; height: 30px;" th:src="@{/images/카메라.png}"></img>
                    <div style="font-size:36px;">후기등록</div>
                </button>
            </div>
        </div>
        <div style="display:flex; justify-content: center; margin-bottom: 50px;">
            <div style="display: flex; flex-wrap: wrap;  width: 1300px; height: auto;">
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
                <figure style="width: 280px; height: 400px; margin: 0 22px 30px 22px; flex-shrink: 1;" class="cardset-figure">
                    <a th:href="@{/}" class="cardset">
                        <img style="width: 280px; height: 400px;" class="cardset-img"
                             th:src="@{/images/로고이미지(검정배경).png}">
                    </a>
                </figure>
            </div>
        </div>

        <nav class="pagiset pagiset-line" style="margin-bottom: 30px;">
            <div class="pagiset-ctrl">
                <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                    <span class="visually-hidden">처음</span>
                </a>
            </div>
            <div class="pagiset-ctrl">
                <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                    <span class="visually-hidden">이전</span>
                </a>
            </div>
            <div class="pagiset-list">
                <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
                <a class="pagiset-link" href="javascript:void(0)">2</a>
                <a class="pagiset-link" href="javascript:void(0)">3</a>
                <a class="pagiset-link" href="javascript:void(0)">4</a>
            </div>
            <div class="pagiset-ctrl">
                <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                    <span class="visually-hidden">다음</span>
                </a>
            </div>
            <div class="pagiset-ctrl">
                <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                    <span class="visually-hidden">마지막</span>
                </a>
            </div>
        </nav>
    </div>
</div>
</html>