<html layout:decorate="~{layout}">
<div layout:fragment="content">
<!-- [S]basic-N10 -->
<div class="basic-N10" data-bid="AeLRpTnFt5" id="" style="margin-left: 150px; margin-right: 150px;">
    <div class="contents-container">
        <img class="contents-visual img-pc" th:src="@{../images/이미지캐러셀.png}" alt="">
<!--        <img class="contents-visual img-mobile" th:src="@{../images/이미지캐러셀.png}" alt="서브 비주얼 모바일 이미지">-->
        <div class="contents-body container-md">
            <div class="textset textset-visual">
            </div>
        </div>
    </div>
</div>
<!-- [E]basic-N10 -->
<!-- [S]basic-N42 -->
<div class="basic-N42" data-bid="TPLrQm20HZ">
    <div class="contents-inner">
        <div class="contents-container container-md">
            <div class="textset">
                <h2 class="textset-tit">Best Product</h2>
                <p class="textset-desc">베스트 상품을 지금 바로 만나보세요!</p>
            </div>
            <div class="swiper contents-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0);" class="cardset cardset-shopping">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="../resources/images/img_basic_N42_1.png" alt="스와이퍼 이미지">
                            </figure>
                            <div class="cardset-body">
                                <span class="cardset-name">Temhamol</span>
                                <h2 class="cardset-tit"> 템하몰 방문손잡이 (3color) </h2>
                                <p class="cardset-desc">32,000<small>원</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0);" class="cardset cardset-shopping">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="../resources/images/img_basic_N42_2.png" alt="스와이퍼 이미지">
                            </figure>
                            <div class="cardset-body">
                                <span class="cardset-name">Temhamol</span>
                                <h2 class="cardset-tit"> 템하몰 방문손잡이 (3color) </h2>
                                <p class="cardset-desc">32,000<small>원</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0);" class="cardset cardset-shopping">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="../resources/images/img_basic_N42_3.png" alt="스와이퍼 이미지">
                            </figure>
                            <div class="cardset-body">
                                <span class="cardset-name">Temhamol</span>
                                <h2 class="cardset-tit"> 템하몰 방문손잡이 (3color) </h2>
                                <p class="cardset-desc">32,000<small>원</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0);" class="cardset cardset-shopping">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="../resources/images/img_basic_N42_4.png" alt="스와이퍼 이미지">
                            </figure>
                            <div class="cardset-body">
                                <span class="cardset-name">Temhamol</span>
                                <h2 class="cardset-tit"> 템하몰 방문손잡이 (3color) </h2>
                                <p class="cardset-desc">32,000<small>원</small>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- [E]basic-N42 -->
<!-- [S]basic-N28 -->
<div class="basic-N28" data-bid="NilrPTHQLW" id="">
    <div class="contents-inner">
        <div class="contents-container container-md">
            <div class="textset">
                <h2 class="textset-tit">Best Style</h2>
                <button class="btn btn-ghost" style="font-size: 20px;">더보기 →</button>
            </div>
            <div class="contents-group">
                <div class="cardset cardset-hover cardset-border text-center">
                    <img class="cardset-img" src="../resources/images/img_basic_N28_3.png" alt="카드 이미지">
                </div>
                <div class="cardset cardset-hover cardset-border text-center">
                    <img class="cardset-img" src="../resources/images/img_basic_N28_3.png" alt="카드 이미지">
                </div>
                <div class="cardset cardset-hover cardset-border text-center">
                    <img class="cardset-img" src="../resources/images/img_basic_N28_3.png" alt="카드 이미지">
                </div>
                <div class="cardset cardset-hover cardset-border text-center">
                    <img class="cardset-img" src="../resources/images/img_basic_N28_3.png" alt="카드 이미지">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>