<nav th:fragment="navbarFragment">
    <div class="personal-QxLRRa9Yn3" id="" data-bid="NuLrRaAlNa">
        <div class="header-inner">
            <div class="header-container container-lg">
                <div class="header-left">
                    <h1 class="header-title">
                        <a href="javascript:void(0)">
                            <img th:src="@{../images/로고이미지.png}" alt="로고">
                        </a>
                    </h1>
                    <div class="header-mobile-group">
                        <div class="header-mobile-top">
                            <p>로그인이 필요합니다.</p>
                            <a href="javascript:void(0)">로그인</a>
                        </div>
                        <ul class="header-gnblist">
                            <li class="header-gnbitem item-active">
                                <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                                    <span>PRODUCTS</span>
                                </button>
                            </li>
                            <li class="header-gnbitem">
                                <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                                    <span>COMMUNITY</span>
                                </button>
                            </li>
                            <li class="header-gnbitem">
                                <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                                    <span>Q&amp;A</span>
                                </button>
                            </li>
                            <li class="header-gnbitem">
                                <button class="header-gnblink btn btn-ghost" href="javascript:void(0)">
                                    <span>MEMBERSHIP</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inputset inputset-lg">
                    <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
                    <input type="text" class="inputset-input form-control" style="height:35px; border:1px solid gray;" placeholder="검색어를 입력해주세요." aria-label="내용">
                </div>
                <div class="header-right">
                    <div class="header-utils">
                        <button class="header-btn btn-cart badgeset badgeset-circle badgeset-position badgeset-bottom-right">
                            <img th:src="@{../icons/ico_cart_black.svg}" alt="쇼핑백 아이콘">
                            <span class="badgeset-text">1</span>   <!--담은 수 만큼 변경하기-->
                        </button>
                        <a href="javascipt:void(0);" class="header-btn btn-user">
                            <img th:src="@{../icons/ico_user_black.svg}" alt="유저 아이콘">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-dim"></div>
    </div>
</nav>